@import url(reset.css);
@import url(root.css);

body {
  display: flex;
  font-family: var(--ff-fonte-3);
  font-size: var(--fs-body);
}

.cabecalho {
  width: 37.7rem;
  height: 100vh;

  background: var(--bg-logo);
}

header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

header img {
  width: 21.5rem;
  height: 16.7rem;
  margin-top: 3.2rem;
}

header h1 {
  font-size: var(--fs-h1);
  font-weight: 400;
  line-height: 3.4rem;
  color: var(--fc-h1);
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  text-align: center;

  padding: 2.1rem 0;
  width: 100%;

  background-color: var(--bg-h1);
}

header p {
  line-height: 2rem;
  text-align: center;
  width: 29rem;
}

.page {
  height: 100vh;
  margin: 0 auto;
}

.container {
  display: grid;
  gap: 3.2rem;

  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 7vw);
  grid-gap: 3.2rem;
  align-items: center;
  height: 90vh;
  width: fit-content;
}

.card {
  position: relative;
  height: 15.0rem;
}

.card img {
  width: 22rem;
  animation: rightcenter 1500ms 400ms forwards ;
}

.card h2 {
  background: var(--bg-texto-img);
  border-radius: 20px;

  position: absolute;
  top: 1rem;
  right: 1rem;

  padding: 0.8rem;

  font-size: var(--fs-text-card);
  color: var(--fc-texto);

  animation: esvanecer 1500ms 400ms forwards;
}

.container div:nth-child(1) {
  grid-row: 1/1;
  grid-column: 1/1;
}

.container div:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/2;
}

.container div:nth-child(3) {
  grid-row: 1/1;
  grid-column: 3/3;
}

.container div:nth-child(4) {
  grid-row: 3/3;
  grid-column: 1/1;
}

.container div:nth-child(5) {
  grid-row: 4/5;
  grid-column: 2/2;
}

.container div:nth-child(6) {
  grid-row: 3/3;
  grid-column: 3/3;
}

footer {
  margin: 0 auto;
  text-align: center;
}

footer p {
  font-family: var(--ff-fonte-1);
  color: var(--fc-texto);
  font-size: 1.4rem;
}

footer a {
  font-size: 1.4rem;
  font-family: var(--ff-fonte-1);
  font-weight: 700;
  line-height: 2.8rem;
  text-decoration: none;
  color: var(--fc-texto);
}

@keyframes rightcenter {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(10px);
  }
}

@keyframes esvanecer {
  0% {
    opacity 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(25px);
  }
}